
.main__preview {
  background: linear-gradient(180deg, #fff, #b40001 36%);
  display: grid;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .main {
    display: flex;
    padding: 20px 40px;
  }
  .main__form {
    order: 1;
    width: 60%;
  }
  .main__preview {
    border-radius: 5px;
    order: 2;
  }
  .main__container {
    width: 60%;
  }
}

.card {
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  height: 357px;
  justify-content: center;
  /* margin: 20px 35px 40px; */
  max-width: 300px;
  padding: 10px 0;
}
.card__info {
  margin-bottom: 10px;
  margin-top: 10px;
  
  background-color: white;
}
.card__info--name {
  font-size: 18px;
  font-weight: 600;
  padding-left: 20px;
  padding-bottom: 2px;
  text-transform: capitalize;
}
.card__info--job {
  color: #000;
  font-size: 18px;
  padding-left: 20px;
}
.card__photo {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 240px;
  width: 100%;
  padding-bottom: 5px;
}
.rrss {
  display: flex;
  flex-direction: row;
  gap: 5px;
  height: 50px;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}
.rrss__list {
  border-radius: 50%;
  margin: 5px;
  padding: 5px;
}
.rrss__list--item {
  padding: 13px 5px 5px;
}
.palette-1 .card__info {
  border-left: 5px solid #438792;
}
.palette-1 .card__info--name {
  color: #114e4e;
}
.palette-1 .rrss__list {
  border: 2px solid #a2deaf;
}
.palette-1 .rrss__list--item {
  color: #114e4e;
}
.palette-2 .card__info {
  border-left: 5px solid #bd1010;
}
.palette-2 .card__info--name {
  color: #420101;
}
.palette-2 .rrss__list {
  border: 2px solid #e95626;
}
.palette-2 .rrss__list--item {
  color: #420101;
}
.palette-3 .card__info {
  border-left: 5px solid #eab052;
}
.palette-3 .card__info--name {
  color: #3e5b65;
}
.palette-3 .rrss__list {
  border: 2px solid #a0c0cf;
}
.palette-3 .rrss__list--item {
  color: #3e5b65;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: initial;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*# sourceMappingURL=main.5cb89573.css.map*/
